<md-toolbar color="warn" class="shadow">
    <span>Hello</span>
    <span class="example-spacer"></span>
    <md-icon class="example-icon">favorite</md-icon>
    <md-icon class="example-icon">delete</md-icon>
</md-toolbar>

<div class="container">
  <div class="row" style="margin-top: 20px;">
    <div class="col-md-offset-3 col-md-6">
      <md-card>
        <form class="example-form">
          <div class="row">
            <div class="col-md-6">
              <md-input-container class="example-full-width">
                <input mdInput placeholder="First name">
              </md-input-container>
            </div>
            <div class="col-md-6">
              <md-input-container class="example-full-width">
                <input mdInput placeholder="Last name">
              </md-input-container>
            </div>
            <div class="col-md-2" style="margin-top: 5px;">
              Gender
            </div>
            <div class="col-md-10" style="margin-top: 5px;">
              <md-radio-group>
                <md-radio-button value="1" color="warn">Male</md-radio-button>
                &nbsp; <md-radio-button value="2" color="warn">Female</md-radio-button>
              </md-radio-group>
            </div>
            <div class="col-md-12">
              <md-input-container class="example-full-width">
                <input mdInput placeholder="Email" type="email">
              </md-input-container>
            </div>
            <div class="col-md-12">
              <md-input-container class="example-full-width">
                <input mdInput placeholder="Mobile">
              </md-input-container>
            </div>
            <div class="col-md-12">
              <button md-raised-button color="warn">Register</button>
            </div>
          </div>
          
        </form>
      </md-card>
    </div>
  </div>
  
</div>





<!-- <md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>Shiba Inu</md-card-title>
    <md-card-subtitle>Dog Breed</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="assets/shiba2.jpg">
  <md-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button>LIKE</button>
    <button md-raised-button>SHARE</button>
  </md-card-actions>
</md-card> -->